{% block cataloglinkage %}
    {% if page.cataloglinkagetitle and page.cataloglinkagecalltoaction is not empty %}
    <section id="cataloglinkage">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="cataloglinkage-header">
                        {% if page.cataloglinkagetitle %}<h1 class="cataloglinkage-title">{{ page.cataloglinkagetitle|raw }}</h1>{% endif %}
                        {% if page.cataloglinkagecalltoaction %}<a type="button" href="{{ path('public_catalog_index') }}" target="_blank" class="btn btn-primary btn-lg cataloglinkage-calltoaction page-scroll">{{ page.cataloglinkagecalltoaction|raw }}</a>{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
{% endblock %}