{% block cataloglink %}
    {% if catalogs is not empty %}
    {% for k, catalog in catalogs %}
    <section id="{{ catalog.slug|raw }}">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="cataloglink-content">
                        {% if catalog.catalogcontent %}<h1 class="cataloglink-title">{{ catalog.catalogcontent|raw }}</h1>{% endif %}
                        {% if catalog.catalogcalltoaction %}<a type="button" href="{{ path('public_catalog_show', {'id': catalog.id}) }}" target="_blank" class="btn btn-primary btn-lg cataloglink-calltoaction">{{ catalog.catalogcalltoaction|raw }}</a>{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endfor %}
    {% endif %}
{% endblock %}