{% block link %}
    {% trans_default_domain 'UniPageBundle' %}
    {% if page.linktitle and links is not empty %}
    <section id="link">
         <div class="container">

            <div class="row">
                <div class="col-sm-12">
                    <div class="section-header">
                        <h1 class="section-title link-title">{{ page.linktitle|raw }}</h1>
                        <ul class="list-inline">
                            {% for link in links %}
                                <li>
                                    <a type="button" href="{{ link.url }}" target="_blank" class="btn btn-primary btn-lg btn-link-interest">{{ link.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section>
    {% endif %}
{% endblock %}