{% block main %}
    <main id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-header">
                        {% if page.image != 'default.png' %}<img class="wow flipInX" src="{{ vich_uploader_asset(page, 'imagefile')|imagine_filter('brand_photography') }}">{% endif %}
                        {% if page.maintitle %}<h1 class="main-title wow fadeInUp">{{ page.maintitle|raw }}</h1>{% endif %}
                        {% if page.mainsubtitle %}<h2 class="main-subtitle wow fadeInUp">{{ page.mainsubtitle|raw }}</h2>{% endif %}
                        {% if page.maincalltoaction %}<a type="button" href="#about" class="btn btn-primary btn-lg main-calltoaction page-scroll wow pulse">{{ page.maincalltoaction|raw }}</a>{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}