{% block socialmedia %}
    {% trans_default_domain 'UniPageBundle' %}
    {% if page.socialmediatitle and socialmedialist is not empty %}
    <section id="socialmedia">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-header">
                        <h1 class="section-title socialmedia-title">{{ page.socialmediatitle|raw }}</h1>
                        <ul class="list-inline">
                            {% for key, socialmedia in socialmedialist %}
                                <li>
                                    <a class="socialmedia-link social-{{ socialmedia.socialnetwork.name|lower }}" href="{{ socialmedia.url|raw }}" target="_blank" >{{ icon(socialmedia.socialnetwork.icon) }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
{% endblock %}