{% extends 'UniOfferBundle:Base:base.html.twig' %}
{% use 'UniOfferBundle:Base:header.html.twig' %}
{% use 'UniOfferBundle:Base:sidebar.html.twig' %}
{% use 'UniOfferBundle:Base:icons.html.twig' %}
{% use 'UniOfferBundle:Base:flashbag.html.twig' %}
{% use 'UniOfferBundle:Base:wysiwyg.html.twig' %}
{% use 'UniOfferBundle:Base:multiselect.html.twig' %}

{% block body %}
    {% block header %}{{ parent() }}{% endblock %}
    <div class="container-fluid">
        <div class="row">
            <aside class="col-sm-3 col-md-2">
                {% block sidebar %}{{ parent() }}{% endblock %}
            </aside>
            <div class="col-sm-9 col-md-10">
                {% block offer %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
